<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.ColumnAuthMapper" >
  <resultMap id="BaseResultMap" type="com.zs.model.ColumnAuth" >
    <id column="Column_AuthId" property="columnAuthid" jdbcType="INTEGER" />
    <result column="Columu_Id" property="columuId" jdbcType="INTEGER" />
    <result column="Shop_Id" property="shopId" jdbcType="INTEGER" />
    <result column="Department_Id" property="departmentId" jdbcType="INTEGER" />
    <result column="Position_Id" property="positionId" jdbcType="INTEGER" />
    <result column="Column_AuthState" property="columnAuthstate" jdbcType="INTEGER" />
    <result column="Remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="Operation" property="operation" jdbcType="VARCHAR" />
    <result column="Operation_Date" property="operationDate" jdbcType="TIMESTAMP" />
    <result column="Operation_Ip" property="operationIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Column_AuthId, Columu_Id, Shop_Id, Department_Id, Position_Id, Column_AuthState, 
    Remarks, Operation, Operation_Date, Operation_Ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_columnauth_info
    where Column_AuthId = #{columnAuthid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_columnauth_info
    where Column_AuthId = #{columnAuthid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zs.model.ColumnAuth" >
    insert into tbl_columnauth_info (Column_AuthId, Columu_Id, Shop_Id, 
      Department_Id, Position_Id, Column_AuthState, 
      Remarks, Operation, Operation_Date, 
      Operation_Ip)
    values (#{columnAuthid,jdbcType=INTEGER}, #{columuId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, 
      #{departmentId,jdbcType=INTEGER}, #{positionId,jdbcType=INTEGER}, #{columnAuthstate,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, #{operationDate,jdbcType=TIMESTAMP}, 
      #{operationIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zs.model.ColumnAuth" >
    insert into tbl_columnauth_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="columnAuthid != null" >
        Column_AuthId,
      </if>
      <if test="columuId != null" >
        Columu_Id,
      </if>
      <if test="shopId != null" >
        Shop_Id,
      </if>
      <if test="departmentId != null" >
        Department_Id,
      </if>
      <if test="positionId != null" >
        Position_Id,
      </if>
      <if test="columnAuthstate != null" >
        Column_AuthState,
      </if>
      <if test="remarks != null" >
        Remarks,
      </if>
      <if test="operation != null" >
        Operation,
      </if>
      <if test="operationDate != null" >
        Operation_Date,
      </if>
      <if test="operationIp != null" >
        Operation_Ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="columnAuthid != null" >
        #{columnAuthid,jdbcType=INTEGER},
      </if>
      <if test="columuId != null" >
        #{columuId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="columnAuthstate != null" >
        #{columnAuthstate,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="operationDate != null" >
        #{operationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operationIp != null" >
        #{operationIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.model.ColumnAuth" >
    update tbl_columnauth_info
    <set >
      <if test="columuId != null" >
        Columu_Id = #{columuId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        Shop_Id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="departmentId != null" >
        Department_Id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="positionId != null" >
        Position_Id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="columnAuthstate != null" >
        Column_AuthState = #{columnAuthstate,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        Remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        Operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="operationDate != null" >
        Operation_Date = #{operationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="operationIp != null" >
        Operation_Ip = #{operationIp,jdbcType=VARCHAR},
      </if>
    </set>
    where Column_AuthId = #{columnAuthid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.model.ColumnAuth" >
    update tbl_columnauth_info
    set Columu_Id = #{columuId,jdbcType=INTEGER},
      Shop_Id = #{shopId,jdbcType=INTEGER},
      Department_Id = #{departmentId,jdbcType=INTEGER},
      Position_Id = #{positionId,jdbcType=INTEGER},
      Column_AuthState = #{columnAuthstate,jdbcType=INTEGER},
      Remarks = #{remarks,jdbcType=VARCHAR},
      Operation = #{operation,jdbcType=VARCHAR},
      Operation_Date = #{operationDate,jdbcType=TIMESTAMP},
      Operation_Ip = #{operationIp,jdbcType=VARCHAR}
    where Column_AuthId = #{columnAuthid,jdbcType=INTEGER}
  </update>
</mapper>